/**
 * 01. Hero
 */


// 01. Hero
#homepage-hero {
	color: $white;
	text-align: center;
	padding: 3rem 0;
	background-color: $primary-color;
	//background-image: url(../assets/images/Kissing-Timelapse-72.gif);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}