/**
 * 01. Hero
 */


// 01. Hero
#homepage-hero {
	color: white;
	min-height: 450px;
	background-image: url(../assets/images/Kissing-Timelapse-72.gif);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;

}