// WORK
  .loop-work-container {

    article.work {
      padding: 0;
      .featured_image_bg {
        margin: 1rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .work-archive-link {
          padding: 2rem 1rem;
          text-align: center;
          transition: $thumbnail-transition;

          a.design {
            &:after {
              content: "\f114";
            }
          }

          a.dev {
            &:after {
              content: "\f179";
            }
          }

          a.dev, a.design {
            transition: .25s all;
            font-size: 0;
            text-align:center;
            &:after {
              font-size: 1.9375rem;
              padding: 0 .25rem;
              color: white;
              font-family: "foundation-icons";
            }
          }

          .entry-title {
            transition: .5s all;
            color: $white;
          }

          &:hover {
            a.dev, a.design {
              &:after {
                display: none;
              }
            }
            .entry-title {
              font-size: 14px;
              font-weight: bold;
              margin-top: -1.85rem;
            }
          }
        }
      }

      &.category-dev {
        .work-archive-link {
        background-color: $color-pink;

          &:hover {
            background-color: rgba( $color-pink, .1 );
            box-shadow: inset 0 0 0 25px $color-pink;
          }
        }
      }

      &.category-design {
        .work-archive-link {
          background-color: $color-orange;
          &:hover {
            background-color: rgba( $color-orange, .1 );
            box-shadow: inset 0 0 0 25px $color-orange;

          }
        }
      }

      &.category-dev.category-design {
        .work-archive-link {
          background-color: $color-purple;

          &:hover {
          background-color: rgba( $color-purple, .1 );
            box-shadow: inset 0 0 0 25px $color-purple;
          }
        }
      }
       &:last-child {
         float: left !important;
       }
    }

  }