/**
 * 01. Global
 * 02. Main Footer
 * 03. Sub Footer
 */


// 01. Global
#footer {
	
}


// 02. Main Footer
.main-footer {
	background-color: $primary-color;
	color: $footer-text-color;

	a {
		color: $footer-link-color;
	}

	.menu,
	.sub-menu {
		list-style: none;
	}

	.sub-menu {
		margin: .5rem 0 0;

		a {
			font-size: .875rem;
			padding: $menu-item-padding;
		}
	}

	#menu-social-menu {

		[class^="fi-"] {
			text-align: center;
    		display: inline-block;

    		&::before {
  				transition: all 0.5s;
			 	color: $white;
			  	font-size: 30px;
			  	padding: 15px;
			}

			&:hover {
				&::before {
					color: $black;
				}
			}

			a {
				display: block;
	  			color: transparent;
	  			font-size: 0;
	  			text-align:center;
	  		}
		}
	
	}

}




// 03. Sub Footer
.sub-footer {
	line-height: 40px;
	background-color: $subfooter-bg-color;
	color: $subfooter-text-color;

	a {
		color: $subfooter-link-color;
		transition: $button-transition;
		&:hover {
			color: $light-gray;
		}
	}

	.fi-social-github::before {
		font-size: 20px;
		margin-left: 5px;
		vertical-align: middle;
	}
}