.single-work {

  /* HEADER */

  .category-design{
    .header {
      background-color: $color-orange;
    }
  }

  .category-dev  {
    .header {
      background-color: $color-pink;
    }
  }

  .category-design.category-dev {
    .header {
      background-color: $color-purple;

    }
  }

  .header {
    background-color: $primary-color;
  }

  header {
    padding: 2rem 0;
    min-height: 200px;
      margin-bottom: 2rem;

    .entry-title {
      padding-bottom: 1rem;
      color: $white;
      text-align: center;
    }

    .post-categories {
      text-align: center;
      a.design {
        &:after {
          content: "\f114";
        }
      }

      a.dev {
        &:after {
          content: "\f179";
        }
      }

      a.dev, a.design {
        transition: .25s all;
        font-size: 0;
        line-height: 0;
        text-align: center;
        &:after {
          transition: .5s ease all;
          font-size: 1.9375rem;
          padding: 0 .5rem;
          color: white;
          font-family: "foundation-icons";
        }
        &:hover {
          &:after {
            color: $black;
          }
        }
      }
    }

    .post-date {
        text-align: center;
      h5 {
          color: $white;
          padding-top: 1rem;
          transition: $button-transition;
      }
    }
  }


/* SIDE BAR */

  /* CONTENT AREA */

  /* INTRO TO PROJECT */

  .tag-container {
    margin: 10px 0;
    .tags {
      ul {
        margin: 0;

        li {
          font-weight: 400;
          list-style: none;
          padding-bottom: .75rem;
          line-height: 1.1;
        }
      }

    &.sticky.is-anchored {
      margin-top: 0 !important;
      padding-top: 0;
    }

    &.sticky.is-stuck{
      margin-top: $topbar-height !important;
      padding-top: 1rem;
      z-index: 0 ;
    }
    }
  }
}


hr {
  border-bottom: 2px solid $primary-color !important;
  margin: .5rem 0 1rem !important;
}

/* RELATED WORK */

.related-work-footer {
  padding: 1rem 0;
  #related-work {

  }
}